
* {
	font-family: monospace;
}

.container-overall {
	display: grid;
	grid-template-columns: 300px 10px 1fr;
	grid-template-rows: 1fr 1fr;
	max-width: 1500px;
	height: 800px;
}

.container-info {
	grid-column: 3;
	grid-row: 1/3;
	display:grid;
	grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr) minmax(300px, 1fr);
	gap: 5px;
	font-size: 18px;
	height: fit-content;
}
.new-topic-box{ 	display: grid;
	grid-template-rows: 10px fit-content 10px 10px;
	grid-row-gap: 10px;
	background-color: orange;
	height: fit-content; 
}

.new-topic-box * {
	resize:none
}

.info-box {
	display: grid;
	grid-template-rows: 10px fit-content 10px 10px;
	grid-row-gap: 10px;
	background-color: orange;
	height: fit-content;
}

.info-box * {
		background-color: orange;
}

.info-box:hover {
	outline: 5px solid red;
}

.info-box * {
}


.box-title {
	grid-row: 1/2
}

.box-content {
	grid-row: 2/3;

}
.box-time-id {
	grid-row: 3/4

}
.box-buttons { 
	grid-row: 4/5;
 }

.box-buttons img{
	margin-right: 5px;
	transform: scale(0.8);
	float: right;
 }

.box-buttons img:hover  {
	transform: scale(1.5);

}

.container-selector {
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: 150px 150px;
	grid-template-rows: 100px 1fr;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
}

.container-selector * {
	font-size: 20px;
}

#menu-new-topic {
	grid-row: 2;
	background-color: darkorange;
	height: -webkit-fit-content;
}

#menu-new-topic:hover {
	background: red;
}


.menu-button {
    background: darkorange;
    transition-duration: 0.5s;
    display:  inline-block;
    height: 24px;
}

#dropdown-type {
	grid-column: 1;
}

#dropdown-type:hover {
	background-color: red;
}

.dropdown-button {
	background-color: orange;
	transition-duration: 0.5s;
}

.dropdown-button:hover {
	background: red;
}

#dropdown-type-content {
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	min-width: 150px;
	transition-duration: 0.5s;
	position: absolute;
	background-color: #f9f9f9;
}

#dropdown-type:hover #dropdown-type-content {
    visibility: visible;
    opacity: 1;
    display: block;
    }

#dropdown-posts {
	grid-column: 2;
}


#dropdown-posts:hover {
	background-color: red;
}

.post-boxes {
	background-color: orange;
	transition-duration: 0.3s;
}

.post-boxes:hover {
	background: red;
}

#dropdown-posts-content {
	visibility: hidden;
	opacity: 0;
	cursor: pointer;
	width: 150px;
	transition-duration: 0.3s;
	position: absolute;
	background-color: #f9f9f9;
}

#dropdown-posts:hover #dropdown-posts-content {
    visibility: visible;
    opacity: 1;
    display: block;
}