<div class="container-overall">
	<div class="container-selector">
		<div class="menu-button" id="dropdown-type">
			<span>Select type</span>
			<div  id="dropdown-type-content">
				<div class="dropdown-button" id="button-topics" (click)="clickType('topics')">Topics</div>
				<div class="dropdown-button" id="button-posts" (click)="clickType('posts')"> Posts</div>
			</div>
		</div>
		<div class ="menu-button" id="dropdown-posts" *ngIf="dataLoaded">
			<span>Add {{ selectedType }}</span>
			<div id="dropdown-posts-content">
				<div class="post-boxes"  *ngFor="let item of contentObject" [id]="contentObject.indexOf(item)+1" (click)="pushInfo(contentObject.indexOf(item))">
					{{ item.id }}
				</div>
			</div>
		</div>
	</div>
	<div class="container-info" *ngIf="infoArray">
		<div class="info-box" *ngFor="let item of infoArray; index as i ">
			<div class="box-title">
				<div *ngIf="item.name"> Topic </div>
				<div *ngIf="item.content"> Post </div>	
			</div>
			<div class="box-content">
				<div *ngIf="editMode != item.id">
				{{ item.name }} 
				{{ item.content }}
				</div>
			</div>
			<div class="box-time-id" id="item.date">
				 Date: {{ item.date.slice(0,10)}}<br>
			 	 Time: {{ item.date.slice(11,16)}}<br>
				 ID: {{ item.id }}
		    </div>
			<div class="box-buttons">
				<img src="././assets/delete.svg" (click)="deleteBox(i)">
				<img src="././assets/edit.svg" (click)="editBox(item.id)">
			</div>
		</div>
	</div>
</div>


<!-- <div *ngIf="editMode == item.id">
					<div *ngIf="item.name">
						<input [(ngModel)]="item.name">
					</div>
					<div *ngIf="item.content">
						<textarea [(ngModel)]="item.content"></textarea>
					</div>
				</div>
--->